* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Patrick Hand", cursive;
}

.container-title {
  max-width: 100%;
  background-size: cover;
  height: 40vh;
  background-image: url("../img/design1_image1.jpg");
  background-position-y: 40%;
}
h1 {
  font-size: 50px;
  font-weight: bold;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 10vh;
  padding-left: 17vw;
}

.title h2 {
  color: white;
  text-align: center;
  font-weight: bold;
}

.title img {
  max-width: 20vw;
  max-height: 20vh;
  position: relative;
  left: 30%;
}

.container {
  display: flex;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 6vh;
}
.ident {
  margin-bottom: 1vh;
  text-indent: 30px;
}
.menu {
  display: flex;
  flex-direction: column;
  width: 10vw;
}

.menu a {
  padding-bottom: 7vh;
}

.content {
  margin: 0 auto;
  width: 70%;
}

p {
  padding-bottom: 3vh;
  padding-right: 2vw;
}
.title-main {
  text-align: center;
}
.title-ihf-field {
  padding-top: 2vh;
}
.rules > h3 {
  margin-bottom: 2vh;
  margin-top: 1vh;
}
.p-indent {
  text-indent: 30px;
  padding-bottom: 0;
}
.p-rules {
  display: inline;
}
span {
  font-weight: bold;
  display: inline;
}
ol li {
  list-style-position: inside;
  margin-bottom: 2vh;
}

ul {
  margin-left: 50px;
  padding-left: 0;
  list-style-type: circle;
  list-style-position: inside;
}
.list-lowerlatin {
  list-style-type: lower-latin;
  margin-bottom: 2vh;
}
.list-lowerlatin > li {
  margin-bottom: 0;
}
section {
  margin-bottom: 8vh;
}

.subtitle {
  margin-top: 2vh;
  font-style: italic;
}

.underline {
  font-style: italic;
  text-decoration-line: underline;
  text-decoration-color: black;
  margin-bottom: 2vh;
}
.information {
  padding-top: 5vh;
}
.contact {
  display: flex;
  justify-content: space-between;
}
.information > p {
  padding-bottom: 1vh;
}
.contact-name {
  padding-top: 2vh;
}

table {
  width: 60%;
  margin: 0 auto;
}
th {
  text-align: start;
}
th,
td {
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}
.day {
  text-align: center;
}
