*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;
}

.container-title{
    max-width: 100%;
    background-size: cover;
    height: 40vh;
    background-image: url("../img/design1_image1.jpg");
    background-position-y: 40%;
}
h1{
    font-size: 50px;
    font-weight: bold;
}

.title{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    height: 10vh;
}

.title h2{
    color: white;
    text-align: center;
    font-weight: bold;
    padding-right: 30%;
}

.title img{
    max-width: 20vw;
    max-height: 20vh;
    order: 1;
    padding-right: 50px;
}

.container{
    display: flex;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 8vh;
}

.menu{
    display: flex;
    flex-direction: column;
}

.menu a{
    padding-bottom: 7vh;
}

.content{
    margin-left: 5vw;
}
p{
    padding-left: 2vw;
    padding-bottom: 3vh;
    padding-right: 2vw;
}